<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarWashAsp.Net</title>
    
    <link rel="stylesheet" href="~/css/estilo.css" asp-append-version="true" />
    
    <!--
        


        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    -->
</head>
<body>
    
    <div class="container">
        <nav class="sidebar">
            <div class="profile">
                <h1 style="margin-bottom: 15px">Dashbord</h1>
                <h3>Bem vindo</h3>
            </div>
            <ul>
                <li><a asp-area="" asp-controller="Dashboard" asp-action="Geral">Geral</a></li>
                <li><a asp-area="" asp-controller="Dashboard" asp-action="Produtos">Produtos</a></li>
                <li><a asp-area="" asp-controller="Dashboard" asp-action="Relatorio">Relatorio</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Sair</a></li>
            </ul>
        </nav>
        @RenderBody()
    </div>

    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CarWashAsp.Net - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    -->
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
