@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CarWashAsp.Net.Models.Produto;

<!-- Modal para Editar Produto -->
<div id="productModal" class="modal">
    <div class="modal-content">
        <span onclick="fecharModal()" class="close" id="closeModal">&times;</span>
        <h2>Novo Produto</h2>
        <form id="productForm" asp-action="AdicionarProduto" asp-controller="Dashboard" method="post">
            <input asp-for="Id" type="hidden" value="@Model.Id" />

            <label asp-for="TipoProduto">Tipo de Produto:</label>
            <select id="tipoProduto" asp-for="TipoProduto" required>
                <option value="DETERGENTE">Detergente</option>
                <option value="CERA">Cera</option>
                <option value="SPRAY">Spray</option>
            </select>

            <label asp-for="Quantia">Quantidade:</label>
            <input type="number" id="quantidade" asp-for="Quantia" required>

            <button type="submit" id="submitProduct">Editar Produto</button>
        </form>
    </div>
</div>

<script>
    function fecharModal() {
        window.location.href = 'Produtos'
    }
</script>